:root {
    --color-text: black;
    // FONT VARIABLE
    --cs-font-base-family: Inter;
    --cs-font-base-size: 1rem;
    --cs-font-base-weight: 400;
    --cs-font-base-style: normal;
    --cs-font-base-letter-spacing: normal;
    --cs-font-base-line-height: 1.5;
    --cs-font-primary-family: Inter;
    --cs-font-primary-size: 0.875rem;
    --cs-font-primary-weight: 500;
    --cs-font-primary-style: normal;
    --cs-font-primary-letter-spacing: normal;
    --cs-font-primary-text-transform: none;
    --cs-font-secondary-family: Inter;
    --cs-font-secondary-size: 0.75rem;
    --cs-font-secondary-weight: 400;
    --cs-font-secondary-style: normal;
    --cs-font-secondary-letter-spacing: normal;
    --cs-font-secondary-text-transform: none;
    --cs-font-category-family: Inter;
    --cs-font-category-size: 0.6875rem;
    --cs-font-category-weight: 600;
    --cs-font-category-style: normal;
    --cs-font-category-letter-spacing: normal;
    --cs-font-category-text-transform: uppercase;
    --cs-font-post-meta-family: Inter;
    --cs-font-post-meta-size: 0.75rem;
    --cs-font-post-meta-weight: 400;
    --cs-font-post-meta-style: normal;
    --cs-font-post-meta-letter-spacing: normal;
    --cs-font-post-meta-text-transform: none;
    --cs-font-input-family: Inter;
    --cs-font-input-size: 0.75rem;
    --cs-font-input-weight: 400;
    --cs-font-input-style: normal;
    --cs-font-input-letter-spacing: normal;
    --cs-font-input-text-transform: none;
    --cs-font-post-subtitle-family: inherit;
    --cs-font-post-subtitle-size: 1.5rem;
    --cs-font-post-subtitle-letter-spacing: normal;
    --cs-font-post-content-family: Inter;
    --cs-font-post-content-size: 1rem;
    --cs-font-post-content-letter-spacing: normal;
    --cs-font-entry-summary-family: Inter;
    --cs-font-entry-summary-size: 1.5rem;
    --cs-font-entry-summary-letter-spacing: normal;
    --cs-font-entry-excerpt-family: Inter;
    --cs-font-entry-excerpt-size: 0.875rem;
    --cs-font-entry-excerpt-letter-spacing: normal;
    --cs-font-main-logo-family: Inter;
    --cs-font-main-logo-size: 1.25rem;
    --cs-font-main-logo-weight: 500;
    --cs-font-main-logo-style: normal;
    --cs-font-main-logo-letter-spacing: normal;
    --cs-font-main-logo-text-transform: none;
    --cs-font-large-logo-family: Inter;
    --cs-font-large-logo-size: 1.5rem;
    --cs-font-large-logo-weight: 500;
    --cs-font-large-logo-style: normal;
    --cs-font-large-logo-letter-spacing: normal;
    --cs-font-large-logo-text-transform: none;
    --cs-font-footer-logo-family: Inter;
    --cs-font-footer-logo-size: 1.25rem;
    --cs-font-footer-logo-weight: 500;
    --cs-font-footer-logo-style: normal;
    --cs-font-footer-logo-letter-spacing: normal;
    --cs-font-footer-logo-text-transform: none;
    --cs-font-headings-family: Inter;
    --cs-font-headings-weight: 600;
    --cs-font-headings-style: normal;
    --cs-font-headings-line-height: 1.25;
    --cs-font-headings-letter-spacing: normal;
    --cs-font-headings-text-transform: none;
    --cs-font-menu-family: Inter;
    --cs-font-menu-size: 0.885rem;
    --cs-font-menu-weight: 400;
    --cs-font-menu-style: normal;
    --cs-font-menu-letter-spacing: -0.0125em;
    --cs-font-menu-text-transform: none;
    --cs-font-menu-sign-up-in-weight: 500;
    --cs-font-menu-sign-up-in-size: 1rem;
    --cs-font-submenu-family: Inter;
    --cs-font-submenu-size: 0.75rem;
    --cs-font-submenu-weight: 400;
    --cs-font-submenu-style: normal;
    --cs-font-submenu-letter-spacing: 0px;
    --cs-font-submenu-text-transform: none;
    --cs-font-section-headings-family: Inter;
    --cs-font-section-headings-size: 1.125rem;
    --cs-font-section-headings-weight: 500;
    --cs-font-section-headings-style: normal;
    --cs-font-section-headings-letter-spacing: normal;
    --cs-font-section-headings-text-transform: none;
    --cs-font-section-subheadings-family: Inter;
    --cs-font-section-subheadings-size: 0.6875rem;
    --cs-font-section-subheadings-weight: 500;
    --cs-font-section-subheadings-style: normal;
    --cs-font-section-subheadings-letter-spacing: normal;
    --cs-font-section-subheadings-text-transform: uppercase;

    // COLOR VARIABLE
    --woocommerce: #a46497;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #a46497;
    --wc-primary-text: #fff;
    --wc-secondary: #ebe9eb;
    --wc-secondary-text: #515151;
    --wc-highlight: #77a464;
    --wc-highligh-text: #fff;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;

    --cs-common-border-radius: 0px;
    --cs-primary-border-radius: 0px;
    --cs-additional-border-radius: 25px;
    --cs-image-border-radius: 0px;
    --cs-header-topbar-height: 50px;
    --cs-header-height: 60px;
    --cs-header-border-width: 1px;
    --cs-secondary-border-radius: 50%;
    --cs-header-topbar-large-height: 90px;
    --cs-header-initial-height: 90px;
    --cs-entry-content-width: 700px;
    --cs-entry-content-medium-width: 800px;
    --cs-entry-content-large-width: 1160px;
    --cs-block-content-width: 600px;
    --cs-main-panel-pading: 0px 10%;
}

:root,
[data-scheme="default"] {
    --cs-palette-color-blue: #59bacc;
    --cs-palette-color-green: #58ad69;
    --cs-palette-color-orange: #ffbc49;
    --cs-palette-color-red: #e32c26;
    --cs-palette-color-black: #000;
    --cs-palette-color-white: #fff;
    --cs-palette-color-secondary: "#818181";
    --cs-palette-color-gray-50: #f8f9fa;
    --cs-palette-color-gray-100: #f8f9fa;
    --cs-palette-color-gray-200: #e9ecef;

    --cs-color-contrast-50: #f8f9fa;
    --cs-color-contrast-100: #f8f9fa;
    --cs-color-contrast-200: #e9ecef;
    --cs-color-contrast-300: #dee2e6;
    --cs-color-contrast-400: #ced4da;
    --cs-color-contrast-500: #adb5bd;
    --cs-color-contrast-600: #6c757d;
    --cs-color-contrast-700: #495057;
    --cs-color-contrast-800: #343a40;
    --cs-color-contrast-900: #212529;
    --cs-color-button: #007aff;
    --cs-color-button-contrast: #fff;
    --cs-color-button-hover: #004eff;
    --cs-color-button-hover-contrast: #fff;
    --cs-color-category: #007aff;
    --cs-color-category-hover: #818181;
    --cs-color-meta: #818181;
    --cs-color-meta-links: #000;
    --cs-color-meta-links-hover: #818181;
    --cs-color-primary: #000;
    --cs-color-primary-contrast: #fff;
    --cs-color-secondary: #818181;
    --cs-color-secondary-contrast: #000;
    --cs-color-accent: #007aff;
    --cs-color-accent-contrast: #fff;
    --cs-color-overlay-background: rgba(0, 0, 0, 0.45);
    --cs-box-shadow-menu: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

:root,
[data-scheme="dark"] {
    --cs-color-accent: #007aff;
    --cs-color-accent-contrast: #fff;
    --cs-color-secondary: #858585;
    --cs-palette-color-secondary: #858585;
    --cs-color-secondary-contrast: #000;
    --cs-color-category: #007aff;
    --cs-color-category-hover: #818181;
    --cs-color-button: #007aff;
    --cs-color-button-contrast: #fff;
    --cs-color-button-hover: #004eff;
    --cs-color-button-hover-contrast: #fff;
    --cs-color-overlay-background: rgba(49, 50, 54, 0.4);
    --cs-box-shadow-menu: 0 5px 15px 0 rgba(255, 255, 255, 0.1);

    --cs-palette-color-black: #fff;
    --cs-palette-color-white: #000;
    --cs-palette-color-secondary: "#858585";
    --cs-palette-color-gray-50: #000;
    --cs-palette-color-gray-100: #333335;
    --cs-palette-color-gray-200: #49494b;

    --cs-color-contrast-50: #000;
    --cs-color-contrast-100: #333335;
    --cs-color-contrast-200: #49494b;
    --cs-color-contrast-300: #606062;
    --cs-color-contrast-400: #777778;
    --cs-color-contrast-500: #8e8e8f;
    --cs-color-contrast-600: #a4a4a5;
    --cs-color-contrast-700: #bbbbbc;
    --cs-color-contrast-800: #d2d2d2;
    --cs-color-contrast-900: #e9e9e9;
    --cs-color-button: #007aff;
    --cs-color-button-contrast: #fff;
    --cs-color-button-hover: #004eff;
    --cs-color-button-hover-contrast: #fff;
    --cs-color-category: #007aff;
    --cs-color-category-hover: #818181;
    --cs-color-meta: #858585;
    --cs-color-meta-links: #fff;
    --cs-color-meta-links-hover: #858585;
    --cs-color-primary: #fff;
    --cs-color-primary-contrast: #000;
    --cs-color-secondary: #858585;
    --cs-color-secondary-contrast: #000;
}

:root,
[data-site-scheme="default"] {
    --cs-color-site-background: #fff;
    --cs-color-topbar-background: #f8f9fa;
    --cs-color-header-background: #fff;
    --cs-color-submenu-background: #fff;
    --cs-color-search-background: #fff;
    --cs-color-footer-background: #f8f9fa;

    // COLOR VARIABLE
    --cs-color-accent: #007aff;
    --cs-color-accent-contrast: #fff;
    --cs-color-secondary: #818181;
    --cs-palette-color-secondary: #818181;
    --cs-color-secondary-contrast: #000;
    --cs-color-category: #007aff;
    --cs-color-category-hover: #818181;
    --cs-color-button: #007aff;
    --cs-color-button-contrast: #fff;
    --cs-color-button-hover: #004eff;
    --cs-color-button-hover-contrast: #fff;
    --cs-color-overlay-background: rgba(49, 50, 54, 0.4);
}

[data-site-scheme="dark"] {
    --cs-color-site-background: #1c1c1c;
    --cs-color-topbar-background: #333335;
    --cs-color-header-background: #1c1c1c;
    --cs-color-submenu-background: #1c1c1c;
    --cs-color-search-background: #333335;
    --cs-color-footer-background: #1c1c1c;
    --cs-color-style: #1c1c1c;
}
